.LabelBox.LabelingCanvasLabel {
  position: absolute;
  z-index: 1101;
  margin: 0;
  top: auto;
}
  .LabelingCanvasLabel--isActive {
    z-index: 1102;
  }

.LabelingCanvasLabel__resizeArea {
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
}
.LabelingCanvasLabel__moveArea {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  cursor: move;
}
  .LabelingCanvasLabel:not(.LabelingCanvasLabel--isActive) .LabelingCanvasLabel__moveArea:hover {
    background-color: rgba(255,255,255,0.15);
  }

.LabelingCanvasLabel__LabelClassSelector {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  margin: -1px;
}
  .LabelingCanvasLabel__LabelClassSelector > form {
    width: 100%;
  }
  .LabelingCanvasLabel__LabelClassSelector > form > input {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    color: black;
  }
