.LabelBox.LabelingCanvasLabel {
  position: absolute;
  z-index: var(--z-labeling-canvas-label);
  margin: 0;
}
  .LabelingCanvasLabel--isActive {
    z-index: var(--z-labeling-canvas-label-active);
  }

.LabelingCanvasLabel__resizeArea {
  position: absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
}
.LabelingCanvasLabel__moveArea {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  cursor: move;
}
  .LabelingCanvasLabel:not(.LabelingCanvasLabel--isActive) .LabelingCanvasLabel__moveArea:hover {
    background-color: rgba(255,255,255,0.15);
  }

.LabelingCanvasLabel__LabelClassSelector {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  margin: -1px;
}
  .LabelingCanvasLabel__LabelClassSelector > form {
    width: 100%;
  }
  .LabelingCanvasLabel__LabelClassSelector > form > input {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
  }
