.SettingsPanel form {
  margin-bottom: 12px;
}

.SettingsPanel__LabelBox {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #fefefe;
}

.SettingsPanel label {
  display: flex;
  font-size: 13px;
  flex-direction: column;
}

.SettingsPanel label:not(:last-child) {
  margin-bottom: 10px;
}

  .SettingsPanel label > p {
    font-size: 11px;
    margin: 2px 0;
    color: #555;
  }

  .SettingsPanel label input {
    flex: 1;
    background-color: #fff;
  }

.SettingsPanel__range {
  display: flex;
  align-items: center;
}
