@import url('https://fonts.googleapis.com/css?family=Roboto');

.WebVideoLabeler,
.WebVideoLabeler *,
.WebVideoLabeler *:before,
.WebVideoLabeler *:after {
  box-sizing: border-box;
}

.WebVideoLabeler {
  font-size: 14px;

  --main-blue: rgb(85, 199, 231);
  --light-blue: rgb(149, 223, 243);
  --ultra-light-blue: rgb(207, 243, 252);
  --main-red: rgb(207, 18, 18);

  --text-color: #222;
  --text-light-color: #666;
  --text-disabled-color: #888;

  --z-video-overlay: 1100;
  --z-labeling-canvas-label: 1101;
  --z-labeling-canvas-label-active: 1102;
  --z-modal-dialog: 1109;
  --z-toolbar: 1110;
}

.WebVideoLabeler,
.WebVideoLabeler button,
.WebVideoLabeler input,
.WebVideoLabeler textarea {
  font-family: Roboto, Arial, sans-serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  color: var(--text-color);
}

@keyframes button-hover {

}
@keyframes button-hover-inner {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
@keyframes button-hover-contents {
  0% { transform: scale(1); }
  25% { transform: scale(0.95); }
  75% { transform: scale(1.05); }
  100% { transform: scale(1); }
  /* 0% { transform: rotateZ(0); transform-origin: bottom; }
  25% { transform: rotateZ(-15deg); }
  75% { transform: rotateZ(15deg); }
  0% { transform: rotateZ(0deg); } */
  /* 0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  50.01% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  } */
}

.WebVideoLabeler button {
  height: 30px;
  margin: 2px;
  padding: 5px;
  border: none;
  border-radius: 1px;
  font-size: 13px;
  background-color: var(--main-blue);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.16s ease-out;
}
  .WebVideoLabeler button:disabled {
    color: var(--text-disabled-color);
    background-color: #d6d8d2;
    transition: none;
  }
  .WebVideoLabeler button:focus {
    outline: 2px dashed var(--light-blue);
  }
  .WebVideoLabeler button:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--light-blue);
    animation: button-hover 0.16s ease-out 1;
    overflow: hidden;
  }
    .WebVideoLabeler button:hover:not(:disabled):before {
      content: '';
      display: block;
      position: absolute;
      left: 0; top: 0; right: 0; bottom: 0;
      border: 2px solid var(--main-blue);
      border-radius: 1px;
      animation: button-hover-inner 0.2s ease-out 1;
    }
    .WebVideoLabeler button:hover:not(:disabled) i,
    .WebVideoLabeler button:hover:not(:disabled) span {
      display: inline-block;
      animation: button-hover-contents 0.25s ease-in-out 1;
    }
  .WebVideoLabeler button:active:not(:disabled) {
    outline: none;
    color: var(--main-red);
  }
    .WebVideoLabeler button i {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 16px;
      text-align: center;
      font-size: 16px;
    }
    .WebVideoLabeler button i + span {
      margin: 0 2px 0 4px;
    }


.WebVideoLabeler input,
.WebVideoLabeler textarea {
  background-color: #fff;
  padding: 3px;
  border: 2px solid var(--main-blue);
  border-color: inherit;
  border-radius: 1px;
  transition: background-color .16s ease-out;
}
.WebVideoLabeler input:focus,
.WebVideoLabeler textarea:focus {
  border-color: transparent;
  outline: none;
  background-color: var(--ultra-light-blue);
  outline: 2px solid var(--main-blue);
}

.WebVideoLabeler input[type="checkbox"] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
}

.WebVideoLabeler input[type="checkbox"]:focus {
  outline: 2px dashed var(--light-blue);
}

.WebVideoLabeler input[type="checkbox"]:checked {
  background-color: var(--light-blue);
  border-color: var(--main-blue);
}
.WebVideoLabeler input[type="checkbox"]:checked:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
}


.WebVideoLabeler input[type="range"] {
  -webkit-appearance: none;
  position: relative;
  border: 0;
  border-color: inherit;
}
.WebVideoLabeler input[type="range"]:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  margin-top: -1px;
  border: 2px solid;
  border-color: inherit;
}
.WebVideoLabeler input[type="range"]:focus {
  background-color: transparent;
  outline: none;
}
.WebVideoLabeler input[type="range"]:focus:after {
  border-color: var(--light-blue);
  border-width: 3px;
  left: 3px;
  right: 3px;
  margin-top: -2px;
}
.WebVideoLabeler input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 4px solid;
  border-color: var(--main-blue);
  height: 22px;
  width: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
