@import url('https://fonts.googleapis.com/css?family=Roboto');

.WebVideoLabeler,
.WebVideoLabeler *,
.WebVideoLabeler *:before,
.WebVideoLabeler *:after {
  box-sizing: border-box;
}

.WebVideoLabeler {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

.WebVideoLabeler,
.WebVideoLabeler button {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}


.WebVideoLabeler button {
  height: 28px;
  margin: 2px;
  padding: 4px;
  border: 1px outset #ccc;
  border-radius: 2px;
  font-size: 13px;
  color: #222;
  background-color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
}
  .WebVideoLabeler button:disabled {
    color: #888;
    background-color: #d6d8d2;
  }
  .WebVideoLabeler button:hover:not(:disabled) {
    background-color: #aaa;
    border-color: #aaa;
    cursor: pointer;
  }
  .WebVideoLabeler button:active:not(:disabled) {
    border-style: inset;
    outline: none;
  }
    .WebVideoLabeler button i {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 16px;
      text-align: center;
      font-size: 16px;
    }
    .WebVideoLabeler button i + span {
      margin: 0 2px 0 4px;
    }

.WebVideoLabeler h2 {
  font-size: 18px;
}
.WebVideoLabeler ul {
  line-height: 20px;
}
